@model IEMS_WEB.Areas.Hologram.Models.ResponseModel.SpoolBoxMapping
@{
    ViewBag.Title = "SpoolBoxMapping";
}
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <div class="row">
        <div class="col-12">
            <h3>
                <span>Spool & Box Mapping</span>
                <button type="button" class="btn btn-success pull-right" id="btnnew" data-translate="Create">
                    <i class="fa fa-plus"></i> Create
                </button>
            </h3>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <table id="GridSpoolBoxDetails"  style="width:100%!important" class="table dispaly dataTable table-bordered no-footer">
            <thead>
                <tr style="text-align: center;">
                    <th style="text-align: center" data-translate="Serial.NO" id="tblserialno"> Serial.NO</th>
                    <th style="text-align: center;" class="green" data-translate="Shop Code">SpoolCaseMapping Id</th>
                    <th style="text-align: center;" class="green" data-translate="Shop Name">Box No</th>
                    <th style="text-align: center;" class="green" data-translate="Circle Name">Action</th>
                    <th style="text-align: center;" class="green" data-translate="Circle Name">Action</th>
                </tr>
            </thead>
        </table>
    </div>
}
<script type="text/javascript">
    $("#btnnew").click(function () {
        window.location.href = "../SpoolBoxMapping/SpoolBoxMappingCreation";
    });
    $(document).ready(function () {

        $('#GridSpoolBoxDetails').DataTable({
            "ajax": {
                "url": "../SpoolBoxMapping/GetAllSpoolBoxMappingDetails",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": null, "defaultContent": "", "orderable": true},
                { "data": 'SpoolCaseMappingId', "autoWidth": true, "visible": false },
                { "data": 'CaseNumber', "autoWidth": true},
                {
                    "data": "Status", "autoWidth": true, "sortable": false, "render": function (data, type, row) {
                        return '<a  href="javascript:EditClick(\'' + row.SpoolCaseMappingId + '\', \'E\')" title = "View" > <i class="fa fa-eye" style="font-size:16px"></i></a > ';
                    }
                },
                {
                    "data": "Edit", "autoWidth": true, "sortable": false, "visible": false,"render": function (data, type, row) {
                        return '<a title="Click here to Edit" href="javascript:EditClick(\'' + row.ShopId + '\', \'V\')"><i class="fa fa-edit" style="font-size: 16px"></i></a>';
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": 0, // Target the first column (Serial Number)
                    "data": null,
                    "render": function (data, type, row, meta) {
                        // Use meta.row to get the current row index and add 1 to start from 1
                        return meta.row + 1;
                    }
                }
            ]
        });
    });

    function EditClick(spoolCaseMappingId,status) {
        $.ajax({
            url: '@Url.Action("SpoolCaseMappingGetById", "SpoolBoxMapping")',
            type: 'GET',
            data: { spoolCaseMappingId: spoolCaseMappingId, status: status },
            dataType: 'json',
            success: function (data) {
                document.location.href = "../SpoolBoxMapping/SpoolBoxMappingCreation";
            },
            error: function () {

            }
        });
    }
</script>